<h3 mat-dialog-title class="cus-title">
  {{ config.title }}
  <hr/>
</h3>
<mat-dialog-content class="cus-content" align="center">
  {{ config.msg }}
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-dialog-close mat-stroked-button color="basic" *ngIf="!config.hideClose">關閉</button>
  <button mat-dialog-close mat-stroked-button color="basic" (click)="dialogRef.close(true)"  *ngIf="config.showConfirm" >是</button>
  <button mat-dialog-close mat-stroked-button color="basic" (click)="dialogRef.close(false)"  *ngIf="config.showConfirm">否</button>
</mat-dialog-actions>